html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E9ECF0;
    
    font-family: Helvetica;
    font-weight: bold;
}

#logo {
    height: 50px;
    width: 50px;
    padding: 7px;
    float:left;
    margin: 0;
}

h1 {
    display: block;
    font-size: 2.2em;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: background-color: #2A3245;
    color: #2A3245;
}

nav {
    width: 100%;
    height: 65px;;
    background-color: #2A3245;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    background-color: #1F2533;
    transition: background-color 0.2s ease-in;
}

.navlink a:hover {
    transition: background-color 0.1s ease-out;
    background-color: #515D7B;
}



.taskForm {
    color: #2A3245;
    display: block;
    align-self: center;
    padding-top:10px;
    align-content: center;
}

.taskForm label {
    display: inline-block;
    padding-right: 15px;
    font-size: 1.2em;
    float: left;
    color: #1F2533;
}

.taskForm input[type=text] {
    float:left;
}

.taskForm select{
    float:left;
}

.makeTaskSubmit {
    display: inline;
    width: 90px;
    background-color: #1F2533;
    transition: background-color 0.2s ease-in;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.makeTaskSubmit:link, .makeTaskSubmit:visited, .makeTaskSubmit:hover, .makeTaskSubmit:active {
    color: white;
}

.makeTaskSubmit:hover {
    transition: background-color 0.1s ease-out;
    background-color: #515D7B;
}



.mainForm {
    height: 70%;
    width: 350px;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-size: 1.2em;
}




.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #1F2533;
    border-radius: 25px;
    padding: 12px;
    color: white;
    text-decoration: none;
    border: 0;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:focus {
    outline: 0;
}

.formSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #515D7B;
}




#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 25px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
}

#myMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#myMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 180px;
    width: 290px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#mascot {
    z-index: 250;
    margin-top: -20px;
    margin-left: 80px;
    height: 400px;
    width: 380px;
}


#myAd {
    position: absolute;
    top: 100px;
    left: 100px;
}




#tasks {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.task {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2A3245;
    color: white;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    border-radius: 40px;
}

.task:hover {
    transition: background-color 0.1s ease-out;
    background-color: #515D7B;
}

img.displayIcon {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top:10px;
    float:left;
}



h3.emptyTask {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.taskName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.taskPriority {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

img.deleteIcon {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top:10px;
    float:right;
}




#content {
    /*background-color: white;*/
    margin: 0px 50px;
    padding-top: 0;
}

